/*------------------------------------*\

    #MAIN
    Site:   www.replik8.com
    Author: Bret Cameron

\*------------------------------------*/

/**
 * CONTENTS
 *
 * Global
 * Colors
 * Animations
 * Container
 * Global Classes
 * Placeholders
 *
 */

/*------------------------------------*\
* GLOBAL
\*------------------------------------*/

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    font-weight: 100;
    font-size: 1.1rem;
  }
}

p {
  font-weight: 100;
  font-size: 1.1rem;
}

/*------------------------------------*\
* COLORS
\*------------------------------------*/

$green: rgb(18, 77, 52);
$faded-green: rgb(24, 100, 70);
$grey: rgb(153, 153, 153);
$off-white: rgb(238, 238, 238);
$off-black: rgb(51, 51, 51);

.tag-select {
  background: $off-black;
  color: $off-white;
}

/*------------------------------------*\
* ANIMATIONS
\*------------------------------------*/

// ANIMATION: fadeInImg

@keyframes fadeInImg {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.img-loading {
  opacity: 0;
  width: 100%;
  height: auto;
}

.img-loaded {
  animation: fadeInImg cubic-bezier(0.23, 1, 0.32, 1) 1;
  position: relative;
  opacity: 0;
  animation-fill-mode: forwards;
  animation-duration: 0.7s;
  animation-delay: 0.1s;
}

/*------------------------------------*\
* GLOBAL CLASSES
\*------------------------------------*/

.inline-block {
  display: inline-block;
}

.current-page {
  background: $faded-green;
}

/*------------------------------------*\
* CONTAINER
\*------------------------------------*/

.container,
.nav-container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1040px;
}

@media only screen and (max-width: 768px) {
  .nav-container {
    padding: 0;
  }
}

/*------------------------------------*\
* PLACEHOLDERS
\*------------------------------------*/

.placeholder {
  width: 100%;
  background: rgb(248, 248, 248);
  // border: 1px solid gray;
  box-shadow: 1px 1px 6px rgb(182, 182, 182);
  margin: 30px 0 10px 0;
  // padding: 20px 0;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  text-transform: uppercase;
}

/*------------------------------------*\
* LAYOUT
\*------------------------------------*/

#layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#layout-main {
  flex: auto;
}

#layout-footer {
  flex-shrink: 0;
}

/*------------------------------------*\
* PLACEHOLDERS
\*------------------------------------*/

h2 {
  font-size: 2rem;
}

header {
  // background: linear-gradient(to right, #008b8b, #006969);
  // border-bottom: 5px solid darkcyan;
  padding: 20px 0;
  text-align: center;

  div > h1 {
    color: white;
    padding: 10px 0px;
    margin: 0;
    font-size: 1.4rem;
  }
}

#hero {
  background: $off-white;
  margin: 0;
  padding: 40px 0 60px 0;

  p {
    font-weight: 100;
    font-size: 1.2rem;
    margin: 0;
  }
}

footer > h3 {
  background: $off-white;
  margin: 0;
  padding: 10px 0;
}

// Navigation

#nav-logo {
  display: inline-block;
  margin-left: -20px;
  width: 120px;
  transform: translateY(3px);
  padding: 0 40px 0 20px;
}

.nav-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  background: $green;
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: 2px 2px 2px #00000050;

  #mobile-menu {
    font-weight: 500;
    margin: 0;
    padding: 15px 0;
    cursor: pointer;
  }

  li {
    font-weight: 500;
    display: inline-block;
    font-size: 1rem;
    color: white;
    margin: 0 0px;
    padding: 15px 15px;
    text-decoration: none;
    border-top: 1px solid rgba(0, 0, 0, 0);
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    transition-duration: 300ms;
    transition-timing-function: ease-out;
  }

  li:hover {
    background: $off-black;
  }

  hr {
    margin: 0;
    visibility: hidden;
  }
}

li#mobile-menu {
  display: none;
}

@media only screen and (max-width: 768px) {
  #nav-logo {
    display: none;
  }

  .nav-flex {
    display: block;
  }

  #nav-list li {
    display: block;
    width: 100%;
    padding-left: 0;
    margin-left: 0;
    text-align: center;
    transition-duration: 100ms;
    transition-timing-function: ease-out;
  }

  li#mobile-menu {
    display: block;
  }

  .inline-block {
    display: block;
  }

  li#mobile-menu:hover {
    // padding: 6px 0 8px 0;
    // margin: -6px 20px -8px 20px;
    // border-top: 1px solid rgba(211, 211, 211, 0);
    // border-bottom: 1px solid rgba(211, 211, 211, 0);

    background: $off-black;
    // border: none;
  }

  .nav-closed {
    display: none;
  }
}

// Printer

.flex-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: -7px;
  padding-bottom: 10px;
}

.printer {
  box-sizing: border-box;
  margin: 7px;
  flex: 1;
  min-width: 300px;
  max-width: 510px;
  // height: 360px;
  transition-duration: 100ms;
  transition-timing-function: ease-out;
  box-shadow: 1px 1px 6px rgb(182, 182, 182);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .printer-text {
    padding: 0px 15px;

    p {
      font-weight: 100;
      font-size: 1.1rem;
    }

    h4 {
      font-weight: 400;
      font-style: italic;
    }

    .printer-headline {
      display: flex;
      justify-content: space-between;
    }
  }

  .printer-hr {
    margin: -10px 0 0 0;
    opacity: 0.5;
  }

  .printer-image {
    text-align: right;
  }

  .printer-image > img {
    width: 100%;
    max-width: 250px;
    padding: 0;
    margin: -40px 0 -4px 0;
  }
}

@media only screen and (max-width: 360px) {
  .printer {
    min-width: 220px;
  }
}

@media only screen and (max-width: 768px) {
  .printer {
    max-width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .printer:hover {
    // transform: translateY(-2px);
    background: $faded-green;
    color: white;
  }
}

// Tag Cloud

button {
  font-weight: 100;
  // text-transform: uppercase;
  border: none;
  box-sizing: border-box;
  padding: 15px;
}

.tag-cloud {
  margin: 0 0 10px 0;
}

.tag {
  display: inline-block;
  margin: 0 10px 10px 0;
  padding: 10px 12px;
  background: $off-white;
  color: $grey;
  cursor: pointer;
  transition-duration: 100ms;
  transition-timing-function: ease-out;
  border-radius: 10px;
}

.tag-select {
  background: $off-black;
  color: $off-white;
}

.tag:hover {
  background: $off-black;
}

#reset {
  border-radius: 0;
  font-style: italic;
  color: $off-white;
  background: $grey;
  // color: $off-black;
}

#reset:hover {
  background: $off-black;
} 

// Definition

#definition {
  display: inline-block;
  font-style: italic;
}

@media only screen and (max-width: 768px) {
  #definition {
    display: none;
  }
}

// Logo

#logo {
  width: 40%;
  max-width: 300px;
  min-width: 160px;
  // margin-bottom: -20px;
  padding: 0px 0;
}

@media only screen and (max-width: 768px) {
  #logo {
    min-width: 160px;
  }
  #byline {
    display: none;
  }
}

a {
  text-decoration: none;

  p {
    margin: 0;
    font-size: 1.05rem;
    font-weight: 300;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
  }
}

// FAQ

$border: 1px solid lightgray;

.question-block {
  border: $border;
  border-bottom: none;
  margin-bottom: 20px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
}

.question {
  border-bottom: $border;
  background: rgb(247, 247, 247);
  cursor: pointer;
  z-index: 99;

  h3 {
    padding: 14px;
    margin: 0;
  }
}

.answer {
  border-bottom: $border;
  transition-duration: 300ms;
  transition-delay: 0ms;
  transition-property: display;
  // height: 3.5rem;
  opacity: 1;
  // border-top: none;

  p {
    padding: 17px;
    margin: 0;
    font-weight: 100;
    font-size: 1.1rem;
  }
}

.closed {
  height: 0;
  display: none;

  p {
    display: none;
  }
}

// Footer
footer {
  margin-top: 20px;
  padding-bottom: 20px;
  box-shadow: -2px -2px 2px #00000050;
  background: #111;
}

.flex-footer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  // flex-wrap: wrap;
  // margin: 0 -20px;
  color: white;

  .column {
    // flex: 1;
    min-width: 180px;
    padding: 0 5px;
    // margin: 10px 20px 0 20px;

    img {
      max-width: 120px;
      padding-top: 28px;
      // margin-top: 20px;
    }
  }

  h4 {
    text-transform: uppercase;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  a {
    color: white;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}

@media only screen and (max-width: 780px) {
  .flex-footer {
    display: block;
    margin: 0;
    padding: 10px 0px;
    text-align: left;
  }

  .column {
    margin: 0;
    padding: 0;
  }
}

// Materials

.material-card {
  box-shadow: 1px 1px 6px rgb(182, 182, 182);
  padding: 15px 10px;
  margin-bottom: 20px;
  display: flex;
  // flex-wrap: wrap;

  .material-image {
    margin: 0;
    // width: 200px;

    img {
      width: 200px;
    }
  }
}

.material-text {
  hr {
    margin: 0 0 15px 0;
    opacity: 0.5;
  }

  h3 {
    margin: 0;
    padding: 10px 0;
  }

  p {
    font-weight: 100;
    font-size: 1.1rem;
  }
}

@media only screen and (max-width: 600px) {
  .material-card {
    display: block;
  }
  .material-image {
    text-align: left;
  }
  .material-image > img {
    width: 100%;
  }
}

// Contact

.flex-contact {
  display: flex;
  flex-wrap: wrap;
  margin: -10px;

  div {
    padding: 10px;

    ul {
      margin-bottom: 20px;
    }
  }
}

#GoogleMap {
  flex: 1;
  min-width: 280px;
  width: 100%;
}

// Modal

.modal-open {
  margin: 0;
  padding: 0;
  // border: 1px solid black;
  text-align: center;
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100vw;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  background: rgba(0, 0, 0, 0.5);
}

.modal-closed {
  display: none;
}

.modal {
  margin: 50px;
  padding: 100px;
  background: white;
  width: 60%;
  height: 66vh;
}

.modal-image > img {
  width: 50%;
  max-width: 400px;
}
