body {
  box-sizing: border-box;
}

.container,
.nav-container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1040px;
}

@media only screen and (max-width: 768px) {
  .nav-container {
    padding: 0;
  }
}

.placeholder {
  width: 100%;
  background: rgb(248, 248, 248);
  // border: 1px solid gray;
  box-shadow: 1px 1px 6px rgb(182, 182, 182);
  margin: 30px 0 10px 0;
  // padding: 20px 0;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  text-transform: uppercase;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  font-weight: 100;
  font-size: 1.1rem;
}

p {
  font-weight: 100;
  font-size: 1.1rem;
}

#layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#layout-main {
  flex: auto;
}

#layout-footer {
  flex-shrink: 0;
}

h2 {
  font-size: 2rem;
}

header {
  background: linear-gradient(to right, #008b8b, #006969);
  // border-bottom: 5px solid darkcyan;
  padding: 20px 0;
  text-align: center;

  div > h1 {
    color: white;
    padding: 10px 0px;
    margin: 0;
    font-size: 1.4rem;
  }
}

#hero {
  background: #eee;
  margin: 0;
  padding: 40px 0 60px 0;

  p {
    font-weight: 100;
    font-size: 1.2rem;
    margin: 0;
  }
}

footer > h3 {
  background: #eee;
  margin: 0;
  padding: 10px 0;
}

// Navigation

#nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  background: #222;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: 2px 2px 2px #00000050;

  a {
    display: inline-block;
    margin: 0 0 0 -20px;
    font-weight: 300;
    padding: 8px 0;
  }

  #mobile-menu {
    margin: 0;
    font-weight: 300;
    padding: 8px 0;
  }

  li {
    font-size: 1rem;
    color: white;
    margin: 0 20px;
    padding: 0;
    text-decoration: none;
    border-top: 1px solid rgba(0, 0, 0, 0);
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    transition-duration: 300ms;
    transition-timing-function: ease-out;
  }

  li:hover {
    padding: 6px 0 8px 0;
    margin: -6px 20px -8px 20px;
    border-top: 1px solid rgba(211, 211, 211, 0.5);
    border-bottom: 1px solid rgba(211, 211, 211, 0.5);
    // border-bottom: 1px solid black;
  }

  hr {
    margin: 0;
    visibility: hidden;
  }
}

li#mobile-menu {
  display: none;
}

@media only screen and (max-width: 768px) {
  #nav-list a {
    display: block;
    width: 100%;
    padding-left: 0;
    margin-left: 0;
    text-align: center;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
  }

  li#mobile-menu {
    display: block;
    color: #fff;
    text-align: center;
    cursor: pointer;
  }

  li#mobile-menu:hover {
    padding: 6px 0 8px 0;
    margin: -6px 20px -8px 20px;
    border-top: 1px solid rgba(211, 211, 211, 0);
    border-bottom: 1px solid rgba(211, 211, 211, 0);

    background: #333;
    // border: none;
  }

  .nav-closed {
    display: none;
  }
}

// Printer

.flex-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: -7px;
  padding-bottom: 10px;
}

.printer {
  box-sizing: border-box;
  margin: 7px;
  flex: 1;
  min-width: 300px;
  max-width: 510px;
  // height: 360px;
  transition-duration: 100ms;
  transition-timing-function: ease-out;
  box-shadow: 1px 1px 6px rgb(182, 182, 182);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .printer-text {
    padding: 0px 15px;

    p {
      font-weight: 100;
      font-size: 1.1rem;
    }

    h4 {
      font-weight: 400;
      font-style: italic;
    }

    .printer-headline {
      display: flex;
      justify-content: space-between;
    }
  }

  .printer-hr {
    margin: -10px 0 0 0;
    opacity: 0.5;
  }

  .printer-image {
    text-align: right;
  }

  .printer-image > img {
    width: 100%;
    max-width: 250px;
    padding: 0;
    margin: -40px 0 -4px 0;
  }
}

@media only screen and (max-width: 360px) {
  .printer {
    min-width: 220px;
  }
}

@media only screen and (max-width: 768px) {
  .printer {
    max-width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .printer:hover {
    // transform: translateY(-2px);
    background: rgba(0, 139, 139, 0.9);
    color: white;
  }
}

// Tag Cloud

button {
  font-weight: 100;
  text-transform: uppercase;
  border: none;
  box-sizing: border-box;
  padding: 15px;
}

.tag-cloud {
  margin: 0 0 10px 0;
}

.tag {
  display: inline-block;
  margin: 0 10px 10px 0;
  padding: 10px 12px;
  background: #eee;
  color: #999;
  cursor: pointer;
  transition-duration: 100ms;
  transition-timing-function: ease-out;
  border-radius: 10px;
}

.tag-select {
  background: #333;
  color: #eee;
}

.tag:hover {
  background: #333;
}

// Definition

#definition {
  display: inline-block;
  font-style: italic;
}

@media only screen and (max-width: 768px) {
  #definition {
    display: none;
  }
}

// Logo

#logo {
  width: 40%;
  max-width: 160px;
  min-width: 160px;
  padding: 0px 0;
}

@media only screen and (max-width: 768px) {
  #logo {
    min-width: 80px;
  }
  #byline {
    display: none;
  }
}

a {
  text-decoration: none;

  p {
    margin: 0;
    font-size: 1.05rem;
    font-weight: 300;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
  }
}

// FAQ

$border: 1px solid lightgray;

.question-block {
  border: $border;
  border-bottom: none;
  margin-bottom: 20px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
}

.question {
  border-bottom: $border;
  background: rgb(247, 247, 247);
  cursor: pointer;
  z-index: 99;

  h3 {
    padding: 14px;
    margin: 0;
  }
}

.answer {
  border-bottom: $border;
  transition-duration: 300ms;
  transition-delay: 0ms;
  transition-property: display;
  // height: 3.5rem;
  opacity: 1;
  // border-top: none;

  p {
    padding: 17px;
    margin: 0;
    font-weight: 100;
    font-size: 1.1rem;
  }
}

.closed {
  height: 0;
  display: none;

  p {
    display: none;
  }
}

// Footer
footer {
  margin-top: 20px;
  padding-bottom: 20px;
  box-shadow: -2px -2px 2px #00000050;
  background: #222;
}

.flex-footer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  // flex-wrap: wrap;
  // margin: 0 -20px;
  color: white;

  .column {
    // flex: 1;
    min-width: 180px;
    // margin: 10px 20px 0 20px;

    img {
      max-width: 120px;
      padding-top: 28px;
      // margin-top: 20px;
    }
  }

  h4 {
    text-transform: uppercase;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  a {
    color: white;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}

@media only screen and (max-width: 1000px) {
  .flex-footer {
    display: block;
    // max-width: 400px;
    margin: 0;
    padding: 10px 0px;
    text-align: left;
  }

  .column {
    margin: 0;
    padding: 0;
  }
}

// Materials

.material-card {
  box-shadow: 1px 1px 6px rgb(182, 182, 182);
  padding: 15px 10px;
  margin-bottom: 20px;
  display: flex;
  // flex-wrap: wrap;

  .material-image {
    margin: 0;
    // width: 200px;

    img {
      width: 200px;
    }
  }
}

.material-text {
  hr {
    margin: 0 0 15px 0;
    opacity: 0.5;
  }

  h3 {
    margin: 0;
    padding: 10px 0;
  }

  p {
    font-weight: 100;
    font-size: 1.1rem;
  }
}

@media only screen and (max-width: 600px) {
  .material-card {
    display: block;
  }
  .material-image {
    text-align: left;
  }
  .material-image > img {
    width: 100%;
  }
}

// Contact

.flex-contact {
  display: flex;
  flex-wrap: wrap;
  margin: -10px;

  div {
    padding: 10px;

    ul {
      margin-bottom: 20px;
    }
  }
}

#GoogleMap {
  flex: 1;
  min-width: 280px;
  width: 100%;
}
